@using TrainChat.Web.Api.Localization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Pages.Error</title>
</head>
<body>
    <hgroup>
        <h1>@Pages.Error.</h1>
        <h2>@Pages.ErrorOccured.</h2>
    </hgroup>
</body>
</html>
