
@{
    ViewBag.Title = "Index";
}

<h1 align="center">@Html.ActionLink("Go to Admin area", string.Empty, new {area = "Admin"})</h1>
<h1 align="center">@Html.ActionLink("Go to Chat Rooms", "Index", "Chat")</h1>
    <h1 align="center"></h1>

