#menu {
    background-color: #F7DF9E;
}

h2, .roomNames, #menu a {
    color: #3B4163;
}

div.container.body-content {
    background-color: #a2de9d;
}

.roomUsers {
    color: #000000;
}

.roomCreator {
    color: #000000;
}

.exchangeRate {
    background-color: #eff4de;
    border: 2px solid #5E967C;
}

.exchangeRate h3 {
    color: #3B4163;
}

.exchangeRate h4, .form-horizontal h4 {
    color: #56314A;
}

.glyphicon.glyphicon-lock {
    color: #000000;
}

a {
    color: #ffffff;
}